<%= content_tag(:h1, "Sign in with your twitter account") %>

<div class="sign-in">
    <p>
        <%= image_tag('/images/connect-with-twitter.gif', :Size => "151x24", :onClick => "window.location = '#{twitter_login_path}'") %>
    </p>
</div>
