<h1>Frequently Asked Questions</h1>

<h2>What is this all about?</h2>

<p>You are a special customer to Gap.  So, you get these special wardrobe deals.  Want to choose how much you pay? say your price.  Look great & save money!</p>

<h2>Can I share this great deal with friends?</h2>

<p>Go ahead, Facebook & Twitter away.  You will feel the love when your friends look great and get in on the exclusive deals.</p>
