<p>
  <a name="fb_share" type="button_count" href="http://www.facebook.com/sharer.php">Share</a>
  <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
</p>
<p>
  <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="dhavalp">Tweet</a>
  <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
</p>
<p>
  <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fdealkat.net&layout=button_count&show_faces=true&width=450&action=like&colorscheme=light&height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe>
</p>